
.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.productCard {
  margin: 20px;
  padding: 5px;
  box-shadow: 0 10px 30px black, 0 10px 10px 
  #ccfb47;
}
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 font-weight: bold;
}
.AllSearchTerm{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.btnSearchTerm{
  background-color: #ccfb47;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: center;
  margin: 50px 0px 20px 0px;
}
.Link {
padding: 0px 60px;
text-decoration: none;
text-transform: uppercase;
color: black;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 20px;
}
.Link:hover {
  text-decoration: underline;
  cursor: pointer;

}
.center {
  display: flex;
  justify-content: center;
}
.shitting {
  font-family: 'Montserrat', sans-serif;
  background-color: #ccfb47;
  font-size: 25px;
  width: 100%;
text-align: center;
padding: 10px;
}
/*Slider*/
.container{
  display: flex;
  justify-content: center;
 }

/*Arrows*/

.arrow-left {
  display: block;
  width: 50px;
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow-right {
    display: block;
    width: 50px;
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
.slider{
  margin-top: 30px;
  box-shadow: 0 10px 30px black
}
h3 {
  background-color: #ccfb47;
}
.question{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-left: 30px;
  text-transform: uppercase;
}
.description{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  margin-bottom: 30px;
  padding-left: 30px;
}

/* delivery*/

.containerDelivery{
  display: flex;
  flex-direction: column;
}

.containerContact{
  display: flex;
 flex-direction: column;
 align-items: center;
}

@media all and (max-width:900px) {
  .slider{
    height: 300px;
  }
}
@media all and (max-width:500px) {

.sliderPhone {
  display: none;
}
.AllSearchTerm{
  flex-direction: column;
}
nav{
  flex-direction: column;
 align-items: center;
}
}