

.headerCart{

  margin-left: auto;
  padding: 0px 50px;
}
.HeaderItem{
  display: flex;
  margin: 10px 50px 0px 50px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.productCard {
  margin: 20px;
  padding: 5px;
  box-shadow: 0 10px 30px black, 0 10px 10px 
  #ccfb47;
}
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 font-weight: bold;
}
.AllSearchTerm{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.btnSearchTerm{
  background-color: #ccfb47;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}
.Link {
padding: 0px 60px;
text-decoration: none;
text-transform: uppercase;
color: black;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 20px;
}
.Link:hover {
  text-decoration: underline;
  cursor: pointer;

}
.center {
  display: flex;
  justify-content: center;
}
.shitting {
  font-family: 'Montserrat', sans-serif;
  background-color: #ccfb47;
  font-size: 25px;
  width: 100%;
text-align: center;
padding: 10px;
}
/*Slider*/
.container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
 }

/*Arrows*/

.arrow-left {
  display: block;
  width: 50px;
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow-right {
    display: block;
    width: 50px;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
.slider{
  margin-top: 30px;
  box-shadow: 0 10px 30px black
}
h3 {
  background-color: #ccfb47;
}
.question{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-left: 30px;
  text-transform: uppercase;
}
.description{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  margin-bottom: 30px;
  padding-left: 30px;
}

/* delivery*/

.containerDelivery{
  display: flex;
  flex-direction: column;
}

.containerContact{
  display: flex;
 flex-direction: column;
 align-items: center;
}

/*footer*/
footer {
  height: 80px;
  background-color: rgb(13, 11, 11);
  border-top: 4px solid rgb(18, 18, 18);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.rights {
  font-size: 1.2rem;
  color: #fff;
}
.social-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.icone_2 {
  width: 41px;
}


.btnColor:hover{
  background-color: #1F1D36;
  width: 25px;
}

.iconCart{
  width: 20px;
}
button {
  background-color: #ccfb47;
  margin: 10px 5px;
 padding: 5px;
}
.iconDelete{
  width: 25px;
  margin-bottom: 5px;
}


@media all and (max-width:900px) {
  .slider{
    height: 300px;

  }
}

#certificates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#carouselWidth {
  width: 40%;    
}
.btnColor:hover{
  background-color: #1F1D36;
  width: 25px;
}
@media all and (max-width:500px) {

.sliderPhone {
  display: none;
}
.AllSearchTerm{
  flex-direction: column;
}
nav{
  flex-direction: column;
 align-items: center;
}
h3{
  font-size: 15px;
}
}